# COVID in Germany

## Attempt 1, Landkreise, most recent data

In [3]:
import os.path
import pandas as pd

Test with data from https://npgeo-corona-npgeo-de.hub.arcgis.com/ (see ../ideas.org for details)

In [4]:
datasource = "https://opendata.arcgis.com/datasets/917fc37a709542548cc3be077a786c17_0.csv"
filename = os.path.split(datasource)[1]
if os.path.exists(filename):
    print("Data downloaded already - delete file if you want a more recent copy")
    !ls -l $filename
else:
    !wget $datasource

Data downloaded already - delete file if you want a more recent copy
-rw-r--r--  1 fangohr  staff  123477 Mar 30 14:55 917fc37a709542548cc3be077a786c17_0.csv

In [5]:

df = pd.read_csv(filename)

In [6]:
df.describe()

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,IBZ,SN_L,SN_R,...,EWZ,KFL,Shape__Area,Shape__Length,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL_ID
count,412.000000,400.0,400.0,400.0,412.000000,400.00000,4.000000e+02,400.000000,400.000000,400.000000,...,4.120000e+02,400.000000,4.120000e+02,4.120000e+02,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000
mean,206.771845,4.0,4.0,1.0,8378.065534,8299.21250,8.298040e+10,42.142500,7.972500,2.780000,...,2.017689e+05,891.726750,8.669283e+08,2.107930e+05,0.664425,139.072816,1.104369,66.766736,0.066767,8.060680
std,119.468700,0.0,0.0,0.0,3737.193823,3764.65843,3.764834e+10,1.298618,3.805647,2.397074,...,1.717528e+05,725.202263,7.260308e+08,1.223917e+05,1.170559,196.290575,2.533720,56.466673,0.056467,3.784166
min,1.000000,4.0,4.0,1.0,1001.000000,1001.00000,1.001000e+10,40.000000,1.000000,0.000000,...,3.420900e+04,35.700000,2.042866e+07,3.079684e+04,0.000000,1.000000,0.000000,2.360160,0.002360,1.000000
25%,103.750000,4.0,4.0,1.0,5773.000000,5761.00000,5.761002e+10,41.000000,5.000000,1.000000,...,1.058390e+05,278.010000,2.240654e+08,1.057747e+05,0.000000,48.000000,0.000000,34.988510,0.034989,5.000000
50%,206.500000,4.0,4.0,1.0,8316.500000,8233.00000,8.231000e+10,43.000000,8.000000,3.000000,...,1.579305e+05,797.425000,7.782234e+08,2.127397e+05,0.000000,89.500000,0.000000,54.348059,0.054348,8.000000
75%,309.250000,4.0,4.0,1.0,9771.250000,9675.25000,9.673262e+10,43.000000,9.000000,4.000000,...,2.509708e+05,1264.152500,1.248695e+09,2.862319e+05,0.975680,159.500000,1.000000,81.965183,0.081965,9.000000
max,415.000000,4.0,4.0,1.0,16077.000000,16077.00000,1.607700e+11,46.000000,16.000000,9.000000,...,1.841179e+06,5495.610000,5.500547e+09,1.130009e+06,10.563380,2283.000000,31.000000,575.140682,0.575141,16.000000

Shows all the 'Landkreise'

In [7]:
df['county']

0                            SK Flensburg
1                                 SK Kiel
2                               SK LÃ¼beck
3                           SK NeumÃ¼nster
4                         LK Dithmarschen
                      ...
407                     SK Berlin Spandau
408         SK Berlin Steglitz-Zehlendorf
409                       SK Berlin Mitte
410    SK Berlin Friedrichshain-Kreuzberg
411        SK Berlin Tempelhof-SchÃ¶neberg
Name: county, Length: 412, dtype: object

In [8]:
pd.set_option('display.max_columns', None)
df[df['county']=="LK Pinneberg"]

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,BEM,NBD,SN_L,SN_R,SN_K,SN_V1,SN_V2,SN_G,FK_S3,NUTS,RS_0,AGS_0,WSK,EWZ,KFL,DEBKG_ID,Shape__Area,Shape__Length,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL,BL_ID,county,last_update
8,9,4.0,4.0,1.0,1056,1056.0,1.056004e+10,Pinneberg,Kreis,42.0,--,ja,1.0,0.0,56.0,0.0,0.0,0.0,R,DEF09,1.056000e+10,1056000.0,2009/01/01 00:00:00.000,314391,664.27,DEBKGDL20000E44B,6.367902e+08,185849.136734,1.041667,192,2,61.07045,0.06107,Schleswig-Holstein,1,LK Pinneberg,30.03.2020 00:00

but only for one point in time

In [9]:
df['last_update'].describe()

count                  412
unique                   1
top       30.03.2020 00:00
freq                   412
Name: last_update, dtype: object

In [10]:
df.head()

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,BEM,NBD,SN_L,SN_R,SN_K,SN_V1,SN_V2,SN_G,FK_S3,NUTS,RS_0,AGS_0,WSK,EWZ,KFL,DEBKG_ID,Shape__Area,Shape__Length,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL,BL_ID,county,last_update
0,1,4.0,4.0,1.0,1001,1001.0,1.001000e+10,Flensburg,Kreisfreie Stadt,40.0,--,ja,1.0,0.0,1.0,0.0,0.0,0.0,R,DEF01,1.001000e+10,1001000.0,2008/01/01 00:00:00.000,89504,56.73,DEBKGDL20000002R,4.918293e+07,42752.592015,0.000000,22,0,24.579907,0.024580,Schleswig-Holstein,1,SK Flensburg,30.03.2020 00:00
1,2,4.0,4.0,1.0,1002,1002.0,1.002000e+10,Kiel,Kreisfreie Stadt,40.0,--,ja,1.0,0.0,2.0,0.0,0.0,0.0,R,DEF02,1.002000e+10,1002000.0,2006/01/01 00:00:00.000,247548,118.65,DEBKGDL20000E43X,1.122314e+08,104373.457289,0.892857,112,1,45.243751,0.045244,Schleswig-Holstein,1,SK Kiel,30.03.2020 00:00
2,3,4.0,4.0,1.0,1003,1003.0,1.003000e+10,LÃ¼beck,Kreisfreie Stadt,40.0,--,ja,1.0,0.0,3.0,0.0,0.0,0.0,R,DEF03,1.003000e+10,1003000.0,2006/02/01 00:00:00.000,217198,214.19,DEBKGDL20000DYM9,2.116771e+08,146459.457897,1.265823,79,1,36.372342,0.036372,Schleswig-Holstein,1,SK LÃ¼beck,30.03.2020 00:00
3,4,4.0,4.0,1.0,1004,1004.0,1.004000e+10,NeumÃ¼nster,Kreisfreie Stadt,40.0,--,ja,1.0,0.0,4.0,0.0,0.0,0.0,R,DEF04,1.004000e+10,1004000.0,1970/04/26 00:00:00.000,79487,71.66,DEBKGDL20000E4KX,7.140224e+07,54863.995416,0.000000,15,0,18.871010,0.018871,Schleswig-Holstein,1,SK NeumÃ¼nster,30.03.2020 00:00
4,5,4.0,4.0,1.0,1051,1051.0,1.051004e+10,Dithmarschen,Kreis,42.0,--,ja,1.0,0.0,51.0,0.0,0.0,0.0,R,DEF05,1.051000e+10,1051000.0,2011/08/01 00:00:00.000,133210,1428.18,DEBKGDL20000E14G,1.425511e+09,250768.570200,0.000000,23,0,17.265971,0.017266,Schleswig-Holstein,1,LK Dithmarschen,30.03.2020 00:00

In [11]:
df[df['GEN']=="Hamburg"]

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,BEM,NBD,SN_L,SN_R,SN_K,SN_V1,SN_V2,SN_G,FK_S3,NUTS,RS_0,AGS_0,WSK,EWZ,KFL,DEBKG_ID,Shape__Area,Shape__Length,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL,BL_ID,county,last_update
15,16,4.0,4.0,1.0,2000,2000.0,2.000000e+10,Hamburg,Kreisfreie Stadt,40.0,--,ja,2.0,0.0,0.0,0.0,0.0,0.0,R,DE600,2.000000e+10,2000000.0,1974/01/01 00:00:00.000,1841179,755.09,DEBKGDL20000E6GN,7.420817e+08,234529.147982,0.243546,2053,5,111.504639,0.111505,Hamburg,2,SK Hamburg,30.03.2020 00:00

# Attempt 2, more time data

In [12]:

datasource = "https://opendata.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6_0.csv"

filename = os.path.split(datasource)[1]
if os.path.exists(filename):
    print("Data downloaded already - delete file if you want a more recent copy")
    !ls -l $filename
else:
    !wget $datasource

--2020-03-30 17:24:32--  https://opendata.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6_0.csv
Resolving opendata.arcgis.com (opendata.arcgis.com)... 3.220.181.176
Connecting to opendata.arcgis.com (opendata.arcgis.com)|3.220.181.176|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: â€˜dd4580c810204019a7b8eb3e0b329dd6_0.csvâ€™

dd4580c810204019a7b     [              <=>   ]   2.39M   741KB/s    in 3.3s

2020-03-30 17:24:36 (741 KB/s) - â€˜dd4580c810204019a7b8eb3e0b329dd6_0.csvâ€™ saved [2511583]

In [13]:
df = pd.read_csv(filename)

In [14]:
df.describe()

,IdBundesland,AnzahlFall,AnzahlTodesfall,ObjectId,IdLandkreis,NeuerFall,NeuerTodesfall
count,23941.000000,23941.000000,23941.000000,23941.000000,23941.000000,23941.000000,23941.000000
mean,7.645086,2.391421,0.018963,498410.000000,7968.771104,0.088969,-8.835679
std,3.206557,2.976818,0.145582,6911.315733,3186.875542,0.290945,1.216044
min,1.000000,-2.000000,-1.000000,486440.000000,1001.000000,-1.000000,-9.000000
25%,5.000000,1.000000,0.000000,492425.000000,5754.000000,0.000000,-9.000000
50%,8.000000,1.000000,0.000000,498410.000000,8222.000000,0.000000,-9.000000
75%,9.000000,3.000000,0.000000,504395.000000,9477.000000,0.000000,-9.000000
max,16.000000,67.000000,4.000000,510380.000000,16077.000000,1.000000,1.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23941 entries, 0 to 23940
Data columns (total 13 columns):
IdBundesland       23941 non-null int64
Bundesland         23941 non-null object
Landkreis          23941 non-null object
Altersgruppe       23941 non-null object
Geschlecht         23941 non-null object
AnzahlFall         23941 non-null int64
AnzahlTodesfall    23941 non-null int64
ObjectId           23941 non-null int64
Meldedatum         23941 non-null object
IdLandkreis        23941 non-null int64
Datenstand         23941 non-null object
NeuerFall          23941 non-null int64
NeuerTodesfall     23941 non-null int64
dtypes: int64(7), object(6)
memory usage: 2.4+ MB

`Altersgruppe` is the age group.

In [16]:
df.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall
0,3,Niedersachsen,SK Braunschweig,A60-A79,W,3,0,487440,2020-03-28T00:00:00.000Z,3101,30.03.2020 00:00,1,-9
1,3,Niedersachsen,SK Braunschweig,A80+,M,1,0,487441,2020-03-23T00:00:00.000Z,3101,30.03.2020 00:00,0,-9
2,3,Niedersachsen,SK Braunschweig,A80+,M,1,0,487442,2020-03-28T00:00:00.000Z,3101,30.03.2020 00:00,1,-9
3,3,Niedersachsen,SK Braunschweig,A80+,W,1,0,487443,2020-03-19T00:00:00.000Z,3101,30.03.2020 00:00,0,-9
4,3,Niedersachsen,SK Braunschweig,A80+,W,1,0,487444,2020-03-26T00:00:00.000Z,3101,30.03.2020 00:00,0,-9

In [30]:
df.sum()

IdBundesland                                                  183031
Bundesland         NiedersachsenNiedersachsenNiedersachsenNieders...
Landkreis          SK BraunschweigSK BraunschweigSK BraunschweigS...
Altersgruppe       A60-A79A80+A80+A80+A80+A80+A15-A34A15-A34A15-A...
Geschlecht         WMMWWWMMWMMMMWWWWWWWWWWMMMMMMWWWWWWMMMMMMMWWWW...
AnzahlFall                                                     57253
AnzahlTodesfall                                                  454
ObjectId                                                 11932433810
Meldedatum         2020-03-28T00:00:00.000Z2020-03-23T00:00:00.00...
IdLandkreis                                                190780349
Datenstand         30.03.2020 00:0030.03.2020 00:0030.03.2020 00:...
NeuerFall                                                       2130
NeuerTodesfall                                               -211535
dtype: object

- `AnzahlFall` looks like the total number of cases (on. dashboard: 57298)
- `AnzahlTodesfall` is the total number of deaths (on dasbboald: 455)

In [18]:
pinneberg = df[df["Landkreis"]=="LK Pinneberg"]

In [19]:
pinneberg.sort_values(by="Meldedatum")

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall
2307,1,Schleswig-Holstein,LK Pinneberg,A35-A59,M,1,0,486747,2020-03-03T00:00:00.000Z,1056,30.03.2020 00:00,0,-9
2348,1,Schleswig-Holstein,LK Pinneberg,A60-A79,W,1,0,486788,2020-03-06T00:00:00.000Z,1056,30.03.2020 00:00,0,-9
2293,1,Schleswig-Holstein,LK Pinneberg,A15-A34,W,1,0,486733,2020-03-09T00:00:00.000Z,1056,30.03.2020 00:00,0,-9
2349,1,Schleswig-Holstein,LK Pinneberg,A60-A79,W,1,0,486789,2020-03-10T00:00:00.000Z,1056,30.03.2020 00:00,0,-9
2279,1,Schleswig-Holstein,LK Pinneberg,A15-A34,M,1,0,486719,2020-03-11T00:00:00.000Z,1056,30.03.2020 00:00,0,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2359,1,Schleswig-Holstein,LK Pinneberg,A60-A79,W,1,0,486799,2020-03-29T00:00:00.000Z,1056,30.03.2020 00:00,1,-9
2326,1,Schleswig-Holstein,LK Pinneberg,A35-A59,M,1,0,486766,2020-03-29T00:00:00.000Z,1056,30.03.2020 00:00,1,-9
2306,1,Schleswig-Holstein,LK Pinneberg,A15-A34,W,1,0,486746,2020-03-29T00:00:00.000Z,1056,30.03.2020 00:00,1,-9
2347,1,Schleswig-Holstein,LK Pinneberg,A60-A79,M,1,0,486787,2020-03-29T00:00:00.000Z,1056,30.03.2020 00:00,1,-9
2373,1,Schleswig-Holstein,LK Pinneberg,unbekannt,M,1,0,486813,2020-03-29T00:00:00.000Z,1056,30.03.2020 00:00,1,-9

In [26]:
hamburg = df[df["Bundesland"]=="Hamburg"].sort_values(by="Meldedatum")

In [27]:
hamburg

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall
2827,2,Hamburg,SK Hamburg,A35-A59,W,1,0,487267,2020-02-23T00:00:00.000Z,2000,30.03.2020 00:00,0,-9
2828,2,Hamburg,SK Hamburg,A35-A59,W,1,0,487268,2020-02-29T00:00:00.000Z,2000,30.03.2020 00:00,0,-9
2883,2,Hamburg,SK Hamburg,A60-A79,W,1,0,487323,2020-03-01T00:00:00.000Z,2000,30.03.2020 00:00,0,-9
2857,2,Hamburg,SK Hamburg,A60-A79,M,1,0,487297,2020-03-03T00:00:00.000Z,2000,30.03.2020 00:00,0,-9
2829,2,Hamburg,SK Hamburg,A35-A59,W,2,0,487269,2020-03-04T00:00:00.000Z,2000,30.03.2020 00:00,0,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,2,Hamburg,SK Hamburg,A15-A34,W,5,0,487233,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2881,2,Hamburg,SK Hamburg,A60-A79,M,3,0,487321,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2938,2,Hamburg,SK Hamburg,unbekannt,M,1,0,487378,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2722,2,Hamburg,SK Hamburg,A05-A14,M,1,0,487162,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2856,2,Hamburg,SK Hamburg,A35-A59,W,2,0,487296,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9

In [28]:
hamburg[hamburg["Meldedatum"]=="2020-03-29T00:00:00.000Z"]

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall
2763,2,Hamburg,SK Hamburg,A15-A34,M,5,0,487203,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2932,2,Hamburg,SK Hamburg,A80+,W,1,0,487372,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2823,2,Hamburg,SK Hamburg,A35-A59,M,5,0,487263,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2793,2,Hamburg,SK Hamburg,A15-A34,W,5,0,487233,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2881,2,Hamburg,SK Hamburg,A60-A79,M,3,0,487321,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2938,2,Hamburg,SK Hamburg,unbekannt,M,1,0,487378,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2722,2,Hamburg,SK Hamburg,A05-A14,M,1,0,487162,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9
2856,2,Hamburg,SK Hamburg,A35-A59,W,2,0,487296,2020-03-29T00:00:00.000Z,2000,30.03.2020 00:00,1,-9

In [29]:
hamburg[hamburg["Meldedatum"]=="2020-03-29T00:00:00.000Z"].sum()

IdBundesland                                                      16
Bundesland         HamburgHamburgHamburgHamburgHamburgHamburgHamb...
Landkreis          SK HamburgSK HamburgSK HamburgSK HamburgSK Ham...
Altersgruppe       A15-A34A80+A35-A59A15-A34A60-A79unbekanntA05-A...
Geschlecht                                                  MWMWMMMW
AnzahlFall                                                        23
AnzahlTodesfall                                                    0
ObjectId                                                     3898228
Meldedatum         2020-03-29T00:00:00.000Z2020-03-29T00:00:00.00...
IdLandkreis                                                    16000
Datenstand         30.03.2020 00:0030.03.2020 00:0030.03.2020 00:...
NeuerFall                                                          8
NeuerTodesfall                                                   -72
dtype: object

Hm, according to https://npgeo-corona-npgeo-de.hub.arcgis.com/ (-> Select Hamburg), there should be ~2200 cases and 5 deaths. That's not clear from the data above. Where did I go wrong?